/* General Styles for Logos Section */
.custom-section.logos {
    padding: 3rem 1rem;
    color: #333; 
    background-color: transparent; 
}

/* Header Styles */
.custom-section.logos h2 {
    font-weight: bold;
    margin-bottom: 2rem;
    opacity: 0.9;
}





/* Logos Wrapper */
.custom-section.logos .logos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 0.5rem; 
}

/* Individual Logo Styles */
.custom-section.logos .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(100% / 6 - 0.5rem); 
    max-width: calc(100% / 6 - 0.5rem); 
    transition: transform 0.3s ease;
}


/* Adjust image size */
.custom-section.logos .logo-img img {
    width: 100%; 
    height: auto;
    object-fit: contain;
}

/* Remove Hover Effect for Logos */
.custom-section.logos .logo-img:hover {
    transform: none;
    box-shadow: none;
}



/* Responsive Design */
/* Mobile view - 1 logo per row */
@media screen and (max-width: 768px) {
    .custom-section.logos .logo-img {
        flex: 1 0 100%;
        max-width: 100%; 
    }
}


/* Custom Text Alignment */
.custom-section.logos h2.text-left {
    text-align: left;
}

.custom-section.logos h2.text-center {
    text-align: center;
}

.custom-section.logos h2.text-right {
    text-align: right;
}

/* Text Color */
.custom-section.logos h2.text-white {
    color: #fff;
}

.custom-section.logos h2.text-black {
    color: #000;
}

.custom-section.logos h2.text-primary {
    color: #007bff;
}

/* Background Color */
.custom-section.logos {
    background-color: transparent; 
}
